body {
  font-family: "Lato", sans-serif;
  background-color: #625f5f;
  color: rgb(10, 9, 9);
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.sidepanel {
  width: 250px;
  border-radius: 2vw;
  position: fixed;
  z-index: 1;
  height: 92%;
  top: 0;
  left: 0;
  margin: .5vw;
  background-color: #252727;
  overflow-y: auto;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
}

.sidepanel a {
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #66ccdf;
  text-shadow: 10px 1px 28px rgba(75, 223, 228, 0.979);
}

.panel-list {
  padding: 0;
  list-style: none;
}

.panel-list li {
  margin: 1vw 0;
  color: rgb(151, 161, 170);
}

.panel-list li:hover {
  color: rgb(61, 188, 192);
  text-shadow: 10px 1px 25px rgba(75, 223, 228, 0.938);
}


.main-content {
  position: fixed;
  top: 0;
  left: 270px;
  width: calc(100% - 270px);
  height: 92%;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #252727;
  color: rgb(216, 217, 218);
  border-radius: 1.5vw;
  overflow-y: auto;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;

}

.card {
  padding: 2em;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .sidepanel {
    width: 200px;
    margin: 0;
  }

  .main-content {
    left: 200px;
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 520px) {
  .sidepanel {
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 15px;
  }

  .main-content {
    left: 0;
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .sidepanel {
    width: 92%;
    height: auto;
    margin: 20px;
    padding-top: 15px;
  }

  .main-content {
    left: 0;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 10px;
  }
}

.music-card-par {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;


}

.music-card {
  flex: 1 1 25%;
  background-color: #333;
  margin: 10px 0;
  padding: 20px;
  border: transparent .2px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(170, 163, 163, 0.2);
  box-sizing: border-box;
}

.music-card:hover {
  border: white .02px solid;
}

.music-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.music-details {
  color: #e6e6e6;
}

.music-details h2 {
  margin: 0;
  font-size: 24px;
}

.music-details p {
  margin: 5px 0;
}

.music-player {
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  width: 50%;
  background-color: #000000;
  border-radius: 15px;
  border: 1px solid aqua;
  padding: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-controls button {
  background-color: #66ccdf;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.player-controls button:hover {
  background-color: #5bb5c9;
}

.player-controls input[type="range"] {
  margin: 0 10px;
  width: 300px;
}

#currentTime,
#duration {
  color: #e6e6e6;
}

